{% extends "base.html" %}

{% block content %}
<h2>Entrar</h2>

<form method="post" action="/login" class="card">
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <label>
        Email
        <input type="email" name="email" required>
    </label>

    <label>
        Senha
        <input type="password" name="password" required>
    </label>

    <button type="submit">Entrar</button>
</form>

<p class="muted">
    Ainda não tem conta?
    <a href="/register">Criar conta</a>
</p>
{% endblock %}
